@import 'colors.scss';

.contact-container{
  .adnotation{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .form{
    .title{
      font-size: 22px;
      font-width: 900;
    }

    .form-input{
      margin-top: 10px;
      color: $white !important;
    }
  }
}