@import 'colors.scss';

.map{
  margin-top: 20px;
  text-align: center;
  background-color: #fffecf;
  color: black;
  padding-top: 50px;
  height: 80px;
}

.footer{
  text-align: center;

  svg{
    margin-top:20px;
  }

  .item{
    margin-top: 20px;
    font-size: 16px;
    span{
      display: block;
    }

    &:nth-child(6){
      margin-top: 25px;
    }

    &:nth-last-child(1){
      margin-bottom: 30px;
    }
  }
}