@import 'colors.scss';

.navbar{
  height: 54px;
  width: 100%;
  background-color: $black;
}

.menu-icon{
  color: $white;
  font-size: 42px !important;
  float: right;
  padding: 6px 0px;
}



.logo{
  padding: 14px 2px;
}

.drawer{
  position: absolute;
  top: 54px;
  left: 0px;
  background: #242424;
  width: calc(100vw - 24px);
  height: calc(100vh - 78px);
  padding: 12px;
  z-index:1;

  a{
    display: block;
    color: $white;
    text-decoration: none;
    margin-bottom: 30px;
    font-weight: 500;
  }
}


//TODO propozycja na navbar menu icon https://codepen.io/designcouch/pen/Atyop